In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('adult.data',header = -1)

In [3]:
df.columns = ['Age','Workclass','Fnlwgt','Education','Education-Num',
              'Marital_status','Occupation','Relationship','Race','Sex',
              'Capital-Gain','Capital-loss','HPW','Country','Wage']

df

,Age,Workclass,Fnlwgt,Education,Education-Num,Marital_status,Occupation,Relationship,Race,Sex,Capital-Gain,Capital-loss,HPW,Country,Wage
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
21,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K
22,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K
23,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K
24,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K
25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
26,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
27,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
28,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K
29,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32531,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
32532,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
32533,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
32534,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,<=50K
32535,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,<=50K
32536,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
32537,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,<=50K
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32540,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K
32541,41,?,202822,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,United-States,<=50K
32542,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K
32543,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,<=50K
32544,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
32545,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
32546,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,<=50K
32547,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K
32548,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K
32549,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,<=50K
32550,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K
32551,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
32552,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32555,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [4]:
df = df.iloc[:10000,:]

In [5]:
df['Wage'] = df['Wage'].replace({' <=50K':1,' >50K':0})

D:\Program\Anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [6]:
X = df.drop(['Wage'],axis = 1)
Y = df['Wage']

In [7]:
print(X['Country'].value_counts().sort_values(ascending=False).head())

 United-States    8930
 Mexico            208
 ?                 181
 Philippines        51
 Canada             47
Name: Country, dtype: int64

In [8]:
X['Country'] = ['United-States' if i ==' United-States' else 'Other' for i in X['Country']]

In [9]:
X['Sex'] = X['Sex'].replace({' Male':0,' Female':1})

In [10]:
for col in X.columns:
    if X[col].dtypes == 'object':
        unique_cat = len(X[col].unique())
        print(col,unique_cat)

Workclass 9
Education 16
Marital_status 7
Occupation 15
Relationship 6
Race 5
Country 2

In [11]:
dummy =['Workclass','Education','Marital_status','Occupation','Relationship','Race','Country','Sex']

In [12]:
def create_dummy(df,dumb):
    for x in dumb:
        dummies = pd.get_dummies(df[x],prefix = x,dummy_na = False)
        df = df.drop(x,1)
        df = pd.concat([df,dummies],axis=1)
    return df

In [13]:
X = create_dummy(X,dummy)

In [14]:
X.head()

,Age,Fnlwgt,Education-Num,Capital-Gain,Capital-loss,HPW,Workclass_ ?,Workclass_ Federal-gov,Workclass_ Local-gov,Workclass_ Never-worked,...,Relationship_ Wife,Race_ Amer-Indian-Eskimo,Race_ Asian-Pac-Islander,Race_ Black,Race_ Other,Race_ White,Country_Other,Country_United-States,Sex_0,Sex_1
0,39,77516,13,2174,0,40,0,0,0,0,...,0,0,0,0,0,1,0,1,1,0
1,50,83311,13,0,0,13,0,0,0,0,...,0,0,0,0,0,1,0,1,1,0
2,38,215646,9,0,0,40,0,0,0,0,...,0,0,0,0,0,1,0,1,1,0
3,53,234721,7,0,0,40,0,0,0,0,...,0,0,0,1,0,0,0,1,1,0
4,28,338409,13,0,0,40,0,0,0,0,...,1,0,0,1,0,0,1,0,0,1

In [15]:
#X.isnull().sum().sort_values(ascending=False).head()
#use imputer to replace null values

In [16]:
#Outlier Detection

In [17]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score

#sc = StandardScaler()
#sx = sc.fit_transform(X)
#lr = LogisticRegression()
#x,xt,y,yt = train_test_split(sx,Y,test_size=.3)
#lr.fit(x,y)
#r2_score(y,lr.predict(x))

In [18]:
from itertools import combinations
from sklearn.preprocessing import PolynomialFeatures

In [19]:
def interaction(df):
    com = list(combinations(list(df.columns),2))
    colname = list(df.columns) + ['_'.join(x) for x in com]
    
    poly = PolynomialFeatures(interaction_only=True,include_bias = False)
    df = poly.fit_transform(df)
    df = pd.DataFrame(df)
    df.columns = colname
    newindex = [i for i,x in enumerate(list((df == 0).all()))if x]
    df = df.drop(df.columns[newindex],axis=1)
    return df

In [20]:
X = interaction(X)
X.head()

,Age,Fnlwgt,Education-Num,Capital-Gain,Capital-loss,HPW,Workclass_ ?,Workclass_ Federal-gov,Workclass_ Local-gov,Workclass_ Never-worked,...,Race_ Other_Sex_0,Race_ Other_Sex_1,Race_ White_Country_Other,Race_ White_Country_United-States,Race_ White_Sex_0,Race_ White_Sex_1,Country_Other_Sex_0,Country_Other_Sex_1,Country_United-States_Sex_0,Country_United-States_Sex_1
0,39.0,77516.0,13.0,2174.0,0.0,40.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
1,50.0,83311.0,13.0,0.0,0.0,13.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
2,38.0,215646.0,9.0,0.0,0.0,40.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
3,53.0,234721.0,7.0,0.0,0.0,40.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,28.0,338409.0,13.0,0.0,0.0,40.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [21]:
x,xt,y,yt = train_test_split(X,Y,test_size=.2,random_state=1)

In [22]:
import sklearn.feature_selection

In [23]:
select = sklearn.feature_selection.SelectKBest(k=20)

In [24]:
selfe = select.fit(x,y)

D:\Program\Anaconda\lib\site-packages\sklearn\feature_selection\univariate_selection.py:113: UserWarning: Features [ 286  362  462  487  500  661  866  932  998 1017 1131 1242 1252 1275
 1330 1509 1511 1744] are constant.
  UserWarning)
D:\Program\Anaconda\lib\site-packages\sklearn\feature_selection\univariate_selection.py:114: RuntimeWarning: invalid value encountered in true_divide
  f = msb / msw

In [25]:

index = selfe.get_support(indices=True)
selcol = [X.columns[i] for i in index]

x_sel = x[selcol]
xt_sel = xt[selcol]

In [26]:
selcol

['Education-Num',
 'Marital_status_ Married-civ-spouse',
 'Relationship_ Husband',
 'Age_Education-Num',
 'Age_Marital_status_ Married-civ-spouse',
 'Age_Relationship_ Husband',
 'Fnlwgt_Marital_status_ Married-civ-spouse',
 'Fnlwgt_Relationship_ Husband',
 'Education-Num_HPW',
 'Education-Num_Marital_status_ Married-civ-spouse',
 'Education-Num_Relationship_ Husband',
 'HPW_Marital_status_ Married-civ-spouse',
 'HPW_Relationship_ Husband',
 'Marital_status_ Married-civ-spouse_Relationship_ Husband',
 'Marital_status_ Married-civ-spouse_Race_ White',
 'Marital_status_ Married-civ-spouse_Country_United-States',
 'Marital_status_ Married-civ-spouse_Sex_0',
 'Relationship_ Husband_Race_ White',
 'Relationship_ Husband_Country_United-States',
 'Relationship_ Husband_Sex_0']

In [27]:
from sklearn.metrics import accuracy_score
lr = LogisticRegression()
lr.fit(x_sel,y)
pred = lr.predict(xt_sel)
accuracy_score(yt,pred)

0.813